@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

<div class="card-container">
@for (int i = 0; i < Model.Animals.Length; i++)
{
    <div class="card" style="width: 18rem;">
        <img class="card-img-top" src="/img/@Model.Animals[i].ImagePath" alt="Card image cap">
        <div class="card-body">
            <h5 class="card-title">@Model.Animals[i].Name</h5>
            <p class="card-text">@Model.Animals[i].Description</p>
            <p class="card-text">@Model.Animals[i].AnimSex</p>
            <p class="card-text">@Model.Animals[i].AnimRace</p>
        </div>
    </div>

}
</div>