.main {
    height: 1500px; /* Used in this example to enable scrolling */
}

body {
    margin: 0 !important;
    min-height: 100vh;
    background-color: #1c1c1c;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    /*overflow-x: hidden;*/
}

#redText {
    margin-top: 100px;
    text-align: center;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
        transform: translateY(-20px);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

#siteTitle {
    font-family: 'Montserrat', sans-serif;
    font-weight: 700; /* Bold */
    font-style: italic; /* Adds a stylish touch */
    position: relative;
    text-align: center;
    margin-bottom: 180px;
    font-size: 2rem;
    font-weight: bold;
    opacity: 0;
    animation: fadeIn 1s ease-in-out forwards;
    text-shadow: 0px 0px 12px rgba(0, 80, 204, 0.8);
}

    #siteTitle::after
    {
        content: '';
        position: absolute;
        left: 50%;
        bottom: -40px;
        width: 65%; /* Slightly wider */
        height: 5px; /* Slightly thicker */
        background: linear-gradient(90deg, #ffdc00, #ff0058, #03a9f4);
        transform: translateX(-50%);
        border-radius: 3px;
        box-shadow: 0px 0px 20px rgba(255, 220, 0, 0.8), 0px 0px 24px rgba(255, 0, 88, 0.7), 0px 0px 28px rgba(3, 169, 244, 0.6);
    }
    /* Wider Gradient Blurred Glow Effect */
    /*#siteTitle::before {
            content: '';
            position: absolute;
            top: 50%;
            left: 50%;
            width: 400px;*/ /* Increased width */
    /*height: 60px;*/ /* Increased height */
    /*background: linear-gradient(90deg, #ffdc00, #ff0058, #03a9f4);
            transform: translate(-50%, -50%);
            filter: blur(40px);*/ /* Increased blur for a softer, wider glow */
    /*z-index: -1;
            opacity: 0.7;*/ /* Slightly increased opacity */
    /*}*/
@media(max-width: 360px) {
    #siteTitle {
        padding: 0 20px;
    }

    #redText {
        width: 100%;
    }
}