body {
    background-color: #202731;
    margin: 0;
    font-family: 'Promt', sans-serif;
    color: #ffffff;
    overflow-x: hidden;
}
section {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 400px;
    padding: 100px 20vw;
}
.blue {
    background: #251ba8;
}
.red {
    background: #dd3f31;
}
.pink {
    background: #f30fda;
}
.dark {
    background: #0f0f10;
}

.custom-shape-divider-top-1740407870 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
}

    .custom-shape-divider-top-1740407870 svg {
        position: relative;
        display: block;
        width: calc(100% + 1.3px);
        height: 150px;
    }

    .custom-shape-divider-top-1740407870 .shape-fill {
        fill: #202731;
    }

.custom-shape-divider-bottom-1740407931 {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
}

    .custom-shape-divider-bottom-1740407931 svg {
        position: relative;
        display: block;
        width: calc(132% + 1.3px);
        height: 135px;
        transform: rotateY(180deg);
    }

    .custom-shape-divider-bottom-1740407931 .shape-fill {
        fill: #202731;
    }
.spacer {
    aspect-ratio: 960/300;
    width: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.layer1{
    background-image: url('./svg/layer1.svg');
}
.layer2 {
    background-image: url('./svg/layer2.svg');
    h1 {
    color: #343A40;
    text-align: center;
}
